// STARFIELD
.starfield {
  position: absolute;
  bottom: -150vh;
  user-select: none;
  display: block;
  width: 100%;
  height: 300vh;
  overflow: hidden;
  animation: fadein 8s;
  animation-fill-mode: forwards;
}

.starfield > * {
  position: absolute;
  top: -450%;
  left: 0;
  height: 1000%;
  width: 100%;
}

.starfield > * {
  background-size: 200px 200px;
  background-image: radial-gradient(2px 2px at 40px 60px, #ccc, rgba(0, 0, 0, 0)), radial-gradient(2px 2px at 20px 50px, #fbf5f3, rgba(0, 0, 0, 0)), radial-gradient(2px 2px at 30px 100px, #fbf5f3, rgba(0, 0, 0, 0)), radial-gradient(2px 2px at 40px 60px, #fbf5f3, rgba(0, 0, 0, 0)),
    radial-gradient(2px 2px at 110px 90px, #fbf5f3, rgba(0, 0, 0, 0)), radial-gradient(2px 2px at 190px 150px, #fbf5f3, rgba(0, 0, 0, 0));
  background-repeat: repeat;
}

.starfield > * {
  transform-origin: 50% 50%;
  animation-name: starfieldRotate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.starfield > *:nth-child(1) {
  animation-duration: 32s;
  animation-delay: -8s;
}
.starfield > *:nth-child(2) {
  animation-duration: 40s;
  animation-delay: -10s;
}
.starfield > *:nth-child(3) {
  animation-duration: 70s;
  animation-delay: -15s;
}
.starfield > *:nth-child(4) {
  animation-duration: 110s;
  animation-delay: -25s;
}
.starfield > *:nth-child(5) {
  animation-duration: 240s;
  animation-delay: -60s;
}

@keyframes starfieldRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.4;
  }
}
